.App {
  text-align: center;
}

.weekdays_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}

.weekday {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  min-height: 300px;
}

.weekday-over {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  min-height: 300px;
  background-color: rgb(207, 242, 207);
}

.chore_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em;
}

.chore_element {
  border: 1px solid grey;
  border-radius: 0.5em;
  width:max-content;
  padding: 0 0.5em 0 0.5em;
}
